<ion-header>
  <ion-navbar>
    <ion-title>
     Details 
    </ion-title>
     <ion-buttons end>
     <button color="primary" ion-button (click)="returnMenu()">
       <ion-icon name="list-box"></ion-icon>
       </button>
       <button color="primary" ion-button (click)="logout()">
       <ion-icon name="contact"></ion-icon>
       </button>
     </ion-buttons>
  </ion-navbar>
</ion-header>
<div class="row">

</div>
<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label color="primary">Task name</ion-label>
			<ion-input [(ngModel)]="taskInfo.name" placeholder="task name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary">Description</ion-label>
			<ion-textarea [(ngModel)]="taskInfo.description" placeholder="description"></ion-textarea>
		</ion-item>
			<ion-item>
			<ion-label color="primary">Points</ion-label>
			<ion-input type="number" [(ngModel)]="taskInfo.points" placeholder="10"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary">Deadline</ion-label>
			<ion-datetime [(ngModel)]="taskInfo.deadline" max="2020-10-31" displayFormat="MMM DD, YYYY HH:mm" ></ion-datetime>
		</ion-item>
	</ion-list>

	<button *ngIf="isValidateButton" full (click)="validate()" icon-left ion-button color="dark" >
		<ion-icon name="md-add"></ion-icon>
		Validate task
	</button>
		<button *ngIf="isUpdateButton" full (click)="update()" icon-left ion-button color="dark" >
		<ion-icon name="md-add"></ion-icon>
		Update task
	</button>
	<button *ngIf="isUpdateButton" full (click)="delete()" icon-left ion-button color="dark" >
		<ion-icon name="md-add"></ion-icon>
		Delete task
	</button>
	<button *ngIf="isReservateButton" full (click)="reservate()" icon-left ion-button color="dark" >
		<ion-icon name="md-add"></ion-icon>
		Reservate task
	</button>
		<button *ngIf="isDoneButton" full (click)="done()" icon-left ion-button color="dark" >
		<ion-icon name="md-add"></ion-icon>
		Task done
	</button>
</ion-content>
