<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic TaskDetail
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
	<ion-item>
		<ion-label color="primary">Task name</ion-label>
		<ion-input [(ngModel)]="taskInfo.name" placeholder="task name"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label color="primary">Description</ion-label>
		<ion-input [(ngModel)]="taskInfo.description" placeholder="description"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label color="primary">Points</ion-label>
		<ion-input [(ngModel)]="taskInfo.points" placeholder="10"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label color="primary">Deadline</ion-label>
		<ion-datetime [(ngModel)]="taskInfo.deadline" max="2020-10-31" displayFormat="MMM DD, YYYY HH:mm" ></ion-datetime>
	</ion-item>
</ion-list>

<button *ngIf="isValidateButton" icon-left ion-button color="dark" >
  <ion-icon name="md-add"></ion-icon>
  Validate task
  </button>
  <button *ngIf="isUpdateButon" icon-left ion-button color="dark" >
  <ion-icon name="md-add"></ion-icon>
  Update task
  </button>
  <button *ngIf="isReservateButton" icon-left ion-button color="dark" >
  <ion-icon name="md-add"></ion-icon>
  Reservate task
  </button>
  <button *ngIf="isDoneButton" icon-left ion-button color="dark" >
  <ion-icon name="md-add"></ion-icon>
  Task done
  </button>

</ion-content>
