<ion-header>

  <ion-navbar>
    <ion-title>Connection Page </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>User Choice</ion-label>
    <ion-select [(ngModel)]="userChoice">
      <ion-option *ngFor="let user of userSelectors" value="{{user}}">{{user[2]}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
<button *ngIf="userChoice" ion-button color="secondary" (click)="connect(userChoice)">Connect</button>

<button ion-button (click)="testDb()">Create db</button>
<button ion-button (click)="syncDb()">Sync Db</button>
<button ion-button (click)="postData()">post Data</button>
<button ion-button (click)="getData()">get data</button>
  </ion-item>
</ion-list></ion-content>
